.notification {
  .notice {
    background-color: #38AEF0;
    color: white;
    text-align: center;
    // position: fixed;
  }

  .alert {
    background-color: #F35500;
    color: white;
    text-align: center;
    // position: fixed;
  }
}