@import "_variable.scss";
$full: 100vw;
$full_view: $full - 300;
$content_max: 100%;
// .input-box, .input-btn{
//   float:left;
// }
// .chat-side, .chat-main{
//   float: left;
// }
// .message__upper-info__talker, .message__upper-info__date{
//   display: flex;
// }
// .input-box__imege, .input-box__text{
//   float: left;
// } 
html {
  height: 100%;
  width: 100%;
  // background-color: black;
  body{
    width: 100%;
    height: 100%;
    // background-color: yellow;
  }
}
.wrapper{
  // background-color: red;
  height: 100%;
  width: 100%;
  // position: relative;
  // margin-bottom: 120px;
  box-sizing: border-box;
  // padding-bottom: 0;
  display: flex;
  // display: inline;
  float: left;
  .chat-side{
    width: 300px;
    height: 100%;
    overflow: scroll;
    display: inline-block;
    background-color: green;
    .side-header{
      height: 100px;
      width: 260px;
      padding-right: 20px;
      padding-left: 20px;
      background-color: #253141 ;
      // position: fixed;
      display: inline-block;

    
      
      &__box{
        color:$white;
        // width: 260px;
        // height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 38px;
        font-weight: bold;
        &__user-neme{
          width: 50px;
          
        }
        &__menu{
          width: 50px;
          padding-left: 10px;
          a{
            color: white;
            text-decoration:none;
          }
        }
      }
    }
  .groups{
    background-color:#2f3e51;
    width: 260px;
    height:calc(100% - 120px);
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    // position:absolute;
    // top: 0px;
    // position: fixed;
    // margin-top: 100px;
    // color:$white;
    .group{
      font-size: 18px;
      margin-bottom:40px;
      a{
        text-decoration: none;
        .group__name{
          height: 23px;
          margin-bottom:15px;
          color: white;
          text-decoration: none;
        }
        .group__message{
          font-size: 11.5px;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

  .chat-main{
    height: 100%;
    width: calc(100% - 300px);
    // background-color: yellow;
    .main-header{
      // background-color: red;
      height: 100px;
      width: calc(100% - 380px);
      display: inline-block;
      // width: calc( 100% - 50px ) ;
      background-color: $white;
      border-bottom: solid 1px #eee;
      padding-right: 40px;
      padding-left: 40px;
      justify-content: space-between;
      position: fixed;
      .mein-header__left-box{
        margin-top: 35px;
        margin-right: 0px;
        height:66px;
        width: 200px;
        display: inline-block;
        &__current-group{
          font-size:22px;
          color: #333;
          margin-bottom: 15px;
        }
        &__member-list{
          font-size:  12px;
          color: $gray;
          // width: 200px;
        }
      }
      &__edit-btn{
        width: 30px;
        height:38px;
        padding: 0 20px  0 20px;
        border:solid 1px $sky_blue;
        color: #38aef0;
        line-height: 38px;
        float: right;
        margin-right: 10px;
        margin-top:30px;
        a{
          color: $sky_blue;
          text-decoration: none;
        }
      }
    }
    .messages{
      background-color:#fafafa;
      width:calc( 100vw - 300px);
      height:calc( 100vh - 286px);
      // float: right;
      display: inline-block;
      overflow: scroll;
      
      // height: 100%;
      // background-color: red;
      margin-top: 100px;
      padding: 46px 40px 46px 40px;
      .message{
        height:65px;
        width: 611px;
        margin-bottom: 40px;
        .message__upper-info__talker{
          // width: 171px;
          // height: 24px;
          font-weight: bold;
          display: inline;
        }
        .message__upper-info__date{
          width: 300px;
          height: 24px;
          font-size: 12px;
          color: $gray;
          font-weight: lighter;
          margin-left: 10px;
        }
        .message__text{
          width: 611px;
          height: 21px;
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
    .form{
      background-color: #DDDDDD;
      height: 50px;
      width: calc(100% - 80px);
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 20px;
      padding-bottom: 20px;
      // bottom: 0;
      // position: fixed;
      // float: left;
      .new_message{
        width: calc( 100%);
        // width: 1100px;
        height:100%;
        // margin: 20px 0 0 40px;
        // position: relative;
        // display: inline;
        // line-height: 50px;
        // position: absolute; 
        // right: 170px;
        display: flex;
        justify-content: space-between;
        
      
        .form__message{
          width: 100%;
          height: 100%;
          padding-left: 10px;
          padding-right: 35px;
          // float: left;
        }
        .form__mask{
          display: inline;
          // width: 22px;
          // height: 24px;
          // background-color: red;
          .form__mask__image{
            position: absolute;
            right: 180px;
            width:23px;
            height: 30px;
            // display: inline-block;
            color:black;
            line-height: 50px;
            font-size: 1.3em;
            
            .hidden{
              display: none;
            }
            .picture-o{
              position: absolute;
              right: 500px;
            }
          }
        }
          
        .form__submit{
        padding-right:30px;
        padding-left: 30px;
        margin-left:15px;
        background-color: $sky_blue;
        text-align: center;
        color:$white;  
        line-height: 48px;
        }
      }
    }
  }
}