@import "_variable.scss";

$full: 100vw;
$full_view: $full - 300;
$content_max: 100%;

.input-box, .input-btn{
  float:left;
}

.chat-side, .chat-main{
  float: left;
}
.message__upper-info__talker, .message__upper-info__date{
  display: flex;
}
.input-box__imege, .input-box__text{
  float: left;
} 

.wrapper{
  min-height: 100vh;
  width: 100vw;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
  padding-bottom: 0;
  .chat-side{
    width: 300px;
    height: 1000px;
    .side-header{
      height: 100px;
      width: 300px;
      background-color: #253141 ;
      position: fixed;
      &__box{
        color:$white;
        width: 260px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 38px;
        font-weight: bold;
        &__user-neme{
          width: 50px;
        }
        &__menu{
          width: 50px;
          padding-left: 10px;
        }
      }
    }
      
    .groups{
      background-color:#2f3e51;
      width: 260px;
      height:$content_max;
      padding-top: 20px;
      padding-right: 20px;
      padding-left: 20px;

      position:absolute;
      top: 0px;
      position: fixed;
      margin-top: 100px;
      color:$white;
      .group{
        font-size: 18px;
        &__group-name{
          height: 23px;
          margin-bottom:5px;
        }
        &__latest-message{
          font-size: 11.5px;
          
        }
      }
    }
  }
  .chat-mein{
    height: 1000px;
    width: 100% - 300;
    background-color: #fafafa;
    // margin-left: 300px;
    overflow: scroll;
    .main-header{
      height: 100px;
      width: 100% - 11%;
      background-color: $white;
      border-bottom: solid 1px #eee;
      // position: fixed;
      padding-right: 40px;
      padding-left: 40px;
      justify-content: space-between;
      position: fixed;
      .mein-header__left-box{
        margin-top: 35px;
        margin-right: 0px;
        // width: $content_max;
        height:66px;
        width: 200px;
        display: inline-block;
        &__current-group{
          font-size:22px;
          color: #333;
          margin-bottom: 15px;
        }
        &__member-list{
          font-size:  12px;
          color: $gray;
          width: 200px;
        }
      }
      &__edit-btn{
        width: 30px;
        height:38px;
        padding: 0 20px  0 20px;
        border:solid 1px $sky_blue;
        color: #38aef0;
        line-height: 38px;
        float: right;
        margin-right: 220px;
        margin-top:30px;
      }
    }
    .messages{
      width: calc( 100% - 50px ) ;
      height: $content_max;
      // background-color: red;
      margin-top: 100px;
      padding: 46px 40px 46px 40px;
      .message{
        // background-color: #987;
          height:65px;
          width: 611px;
          margin-bottom: 40px;
        .message__upper-info__talker{
          // background-color:purple;
          width: 171px;
          height: 24px;
          font-weight: bold;
        }
        .message__upper-info__date{
          // background-color:sienna;
          width: 162px;
          height: 24px;
          font-size: 12px;
          color: $gray;
          font-weight: lighter;
          margin-left: 10px;
        }
        .message__text{
          // background-color: palegoldenrod;
          width: 611px;
          height: 21px;
          margin-top: 10px;
          font-size: 14px;
        }
      }
    }
    .form{
      background-color: #DDDDDD;
      height: 90px;
      width: 100vw;
      // position: absolute;
      bottom: 0;
      position: fixed;
      // float: right;
      .new_message{
        // width: calc( 93% + 38px ) ;
        width: 1100px;
        height:50px;
        margin: 20px 0 0 40px;

        .input-box{
          position: relative;
          width: 940px;
          height: 50px;
          padding-left: 40px;
          padding-left:10px;
          color:$gray;
          line-height:50px;
          &__text{
            width: 895px;
            height: 50px;
            padding-left: 10px;
            padding-right: 35px;
            float: left;
          }

          &__image{
            position: absolute;
            right: 10px;
            // background-color: red;
            width:23px;
            height: 30px;
            display: inline-block;
            color:black;
            line-height: 50px;
            font-size: 1.3em;
            
          }
        }
        .submit-btn{
          padding-right:30px;
          padding-left: 30px;
          margin-left:15px;
          background-color: $sky_blue;
          text-align: center;
          color:$white;  
          line-height: 48px;

        }
      }
    }
  }
}

          
          






